/* .vitepress/theme/style/marker.css */

.marker-text {
    text-decoration: underline;
    text-decoration-thickness: 8px;
    text-decoration-color: rgba(14, 165, 233, 0.2);
    text-underline-offset: -3px;
    text-decoration-skip-ink: none;
}

.marker-text-highlight {
    border-radius: 4px;
    background: transparent;
    color: var(--vp-c-text-soft);
    background: linear-gradient(104deg, rgba(14, 165, 233, 0) 0.9%, rgba(14, 165, 233, 0.25) 2.4%, rgba(14, 165, 233, 0.15) 5.8%, rgba(14, 165, 233, 0.05) 93%, rgba(14, 165, 233, 0.25) 96%, rgba(14, 165, 233, 0) 98%), linear-gradient(183deg, rgba(14, 165, 233, 0) 0%, rgba(14, 165, 233, 0.12) 7.9%, rgba(14, 165, 233, 0) 15%);
}

.marker-evy {
    white-space: nowrap;
    position: relative;
}

.marker-evy:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: 0em;
    right: 0em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgba(14, 165, 233, 0.25);
}

.marker-evy:hover:after {
    top: 0%;
}
